.container{
	margin-top: 3%;
}
.info{
	text-align: center;
}
.info table{
	margin: 0 auto;
	padding: 5%;
	margin-bottom: 3%;
}
.info table td{
	padding: 3%;
	color: white;
}
.backinfo{
	margin: 0 auto;
	background-color: rgba(255, 153, 51, 1);
	width: 50%;
	padding: 2%;
	border-radius: 30px;
}
.login input{
	color: rgba(255, 153, 51, 1);
	background-color: white;
	border: none;
	border-radius: 30px;
}
.login input:hover{
	transition: 0.3s;
	color: white;
	background-color: rgb(255, 214, 153);
}
.signupfi{
	color: white;
	text-align: center;
	width: 100%;
	margin-top: 1%;
}
.infi{
	width: 50%;
	border-radius: 30px;
	padding: 0px 30px;
	margin: 0 auto;
	background-color: rgb(133, 224, 133);
}
.glyphicon{
	background-color: white;
	color: rgb(133, 224, 133);
	border-radius: 50%;
}