/**pc**/
@import url('https://fonts.googleapis.com/css?family=Kanit');
*{
	font-family: 'Kanit', sans-serif;	
}
body{
	margin: 0 auto;
	background-color: rgba(242, 242, 242, 0.9);
	background-image: url(../img/logo.png);
	background-size: cover;
	background-repeat: no-repeat;
}
a{
	text-decoration: none !important;
}
input[type=search] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 40%;
}
.nev{
	position: fixed;
	width: 100%;
	background-color: rgba(255, 153, 51, 1);
	z-index: 100;
}
.home{
	padding-left: 15%;
	display: inline-block;
}
.logo{
	color: white;
	padding: 15px;
}
.menu{
	float: right;
	padding-right: 15%;
	display: inline-block;
}
.add{
	background-color: white;
	padding: 15px 35px 15px 35px;
	color: rgba(255, 153, 51, 1);
}
.add:hover{
	background-color: rgb(255, 214, 153);
	color: white;
	transition: 0.3s;
}
.hero{
	width: 30%;
	margin: 0 auto;
	background-color: rgba(255, 153, 51, 1);
	border-top-left-radius: 50%;
	border-bottom-right-radius: 60px;
	margin-bottom: 2%;
}
.photo img{
	width: 100%;
}
.input{
	text-align: center;
	margin-bottom: 3%;
}
.container{
	background-color: rgba(204, 204, 204, 0.7);
	margin-bottom: 5%;
	box-shadow: 0px 0px 10px 0px rgb(217, 217, 217);
	border-radius: 50px;
}
.footer{
	width: 80%;
	margin:  0 auto;
	background-color: white;
	bottom: 0;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
}
/**pc**/
/**Mobile**/
.menucard{
	background-color: white;
	width: 100%;
	box-shadow: 0px 2px 5px 0px rgb(191, 191, 191);
	border-radius: 30px;
	border: solid 5px rgb(255, 153, 0);
}
.menuphoto{
	width: 100%;
	margin: 0 auto;
	padding: 3%;
}
.inmenuphoto{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-radius: 20px;
}
.namemenu{
	width: 90%;
	margin:  0 auto;
	text-align: center;
	color: white;
	background-color: rgb(255, 184, 77);
}
.viewbutton{
	text-align: center;
}
.view{
	color: white;
	margin: 5%;
	border: none;
	background-color: rgb(255, 184, 77);
	width: 50%;
}
.card-block{
	padding:0px 0px 20px 20px;
}
.load{
	margin-top: 10px;
}
.more{
	margin: 0 auto;
}
.btnfood{
	margin-top: 20px;
}
.btnfood{
	background-color: white;
	font-size: 1.2em;
	border: none;
	border-radius: 30px;
	padding: 3px 30px 3px 30px;
	color: rgba(255, 153, 51, 1);
}
.btnfood:hover{
	color: white;
	background-color: rgb(248, 194, 118);
	transition: 0.3s;
}
.card-title{
	margin-top: 8px;
}
.foodcard{
	border: 3px solid rgba(255, 153, 51, 1);
	border-radius: 30px;
}
#find{
	border: none;
	box-shadow: 0px 3px 5px 0px rgb(140, 140, 140);
}
.btn{
	box-shadow: 0px 3px 5px 0px rgb(140, 140, 140);	
}
/*@media only screen and (max-width: 768px) {
	.col-12{
		padding-right: 15%;
		padding-left: 15%;
	}
}
@media only screen and (max-width: 425px) {
	.col-12{
		padding-right: 5%;
		padding-left: 5%;
		margin-bottom: 1%;
	}
}
