@import url('https://fonts.googleapis.com/css?family=Kanit');
*{
	font-family: 'Kanit', sans-serif;
}
body{
	background-image: url(../img/logo.png);
	background-size: cover;
	background-color: rgb(242, 242, 242);
}
/*Nevbar*/
.nev{
	width: 100%;
	background-color: rgb(255, 153, 0);
	position: fixed;
	z-index: 100;
}
.nev a{
	color: white;
}
.innev{
	margin: 0 auto;
	width: 100%;
}
#info{
	display: inline-block;
	padding: 1%;
}
#info:hover{
	transition: 0.2s;
	background-color: white;
	color: rgb(255, 184, 77);
}
#addmenu{
	display: inline-block;
	padding: 1%;
}
#addmenu:hover{
	transition: 0.2s;
	background-color: white;
	color: rgb(255, 184, 77);
}
#logo{
	display: inline-block;
	width: 5%;
	margin: 0 auto;
	background-color: rgb(255, 153, 0);
	border-radius: 20px;
}
#inlogo{
	width: 100%;
}
/*Container*/
.container{
	box-shadow: 0px 2px 5px 0px rgb(191, 191, 191);
	background-color: rgba(230, 230, 230, 0.5);
}
/*Find*/
#find{
	text-align: center;
	margin: 5%;
}
#infind{
	width: 30%;
	display: inline-block;
	border: none;
	box-shadow: 0px 2px 5px 0px rgb(191, 191, 191);
	padding: 5px 10px;
}
#search{
	border: none;
	background-color: rgb(255, 153, 0);
	box-shadow: 0px 2px 5px 0px rgb(191, 191, 191);
	color: white;
}
/*Menu*/
#menu{
	margin-bottom: 5%;
}
/*card*/
.menucard{
	background-color: white;
	width: 90%;
	box-shadow: 0px 2px 5px 0px rgb(191, 191, 191);
	border-radius: 30px;
	border: solid 5px rgb(255, 153, 0);
	margin: 0 auto;
}
.menuphoto{
	width: 100%;
	margin: 0 auto;
	padding: 3%;
}
.inmenuphoto{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
	border-radius: 20px;
}
.namemenu{
	width: 100%;
	margin:  0 auto;
	text-align: center;
	color: white;
	background-color: rgb(255, 184, 77);
	border-radius: 10px;
}
.viewbutton{
	text-align: center;
}
.view{
	color: white;
	margin: 5%;
	border: none;
	background-color: rgb(255, 184, 77);
	width: 40%;
	border-radius: 20px;
	border: solid;
}
.view:hover{
	transition: 0.2s;
	background-color: white;
	color: rgb(255, 184, 77);
	border: solid;
}
.more{
	border: none;
	background-color: rgb(255, 184, 77);
	padding: 5px 20px;
	margin: 2%;
	border-radius: 20px;
	color: white;
}
.more:hover{
	color: rgb(255, 184, 77);
	background-color: white;
	transition: 0.2s;
}
/*Addmenu(addmenu.php)*/
.addmenu{
	background-color: rgb(255, 153, 0);
	border-radius: 10px;
	padding-bottom: 5%;
	box-shadow: 0px 2px 5px 0px rgb(191, 191, 191);
}
.addname{
	border: none;
	width: 20%;
	padding: 5px 10px;
}
#go{
	border: none;
	color: rgb(255, 153, 0);
	background-color: white;
	padding: 1%;
	border-radius: 10px;
	border: solid white;
}
#go:hover{
	border: solid rgb(255, 184, 77);
}